.div-one1, .div-one2, .div-two1, .div-three2{
    margin: 3%
}

.div-one1 > .prim, .div-one2 > .prim, .div-two1 > .prim, .div-three2 > .prim{
    background: white;
    font-size: 50px;
    float: left;
    margin: 10px;
    padding: 10px;
    width: 45%;
    height: 50%;
    height: 400px;
    padding-top: 10%;
    text-align: center;  
    margin-top: 10%;
    border-radius: 5%;
}
.div-one1 > .prim2, .div-one2 > .prim2, .div-two1 > .prim2, .div-three2 > .prim2{
    background: white;
    font-size: 30px;
    float: right;
    margin: 10px;
    padding: 10px;
    width: 50%;
    height: 400px;
    text-align: justify;
    padding-top: 6%;
    padding-left:3%;
    padding-right:3%;
    margin-top:10%;
    border-radius: 5%;
}


@media  screen and ( max-width: 1100px){
    body{
        height: 1000px;
    }
    .contenido{
        padding-top: 100px;
        height: 1000px;
    }
    .div-one1 > .prim, .div-one2 > .prim, .div-two1 > .prim, .div-three2 > .prim{
        flex-wrap: wrap;
        font-size: 20px;
        height: 200px;
    }
    .div-one1 > .prim2, .div-one2 > .prim2, .div-two1 > .prim2, .div-three2 > .prim2{
        float: left;        
        font-size: 20px;
        height: 200px;
    }
    
}
@media  screen and ( max-width: 900px){
    
}





a{
    text-decoration: none;
}





*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
footer{    
    width: 100%;
    background: #09050d;
    color: white;
}
.container-footer-all{    
    width: 100%;
    max-width: 1200px;
    margin: auto; 
    padding: 40px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
    
}
.colum1 h1{
    font-size: 22px;
}
.colum1 p{
    font-size: 20px;
    color: #C7C7C7;
    margin-top: 20px;
}
.rosseau{
    text-align: right;
}
.colum2{
    max-width: 400px;
    
}
.colum2 h1{
    font-size: 22px;    
}
.colum2 .row{
    margin-top: 20px;
    display:flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 10px;
    margin-left: 10px;
    color: #C7C7C7;
}
.container-footer{
    width: 100%;
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.copyright{
    color:#C7C7C7;
}
.copyright a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.information a{
    text-decoration: none;
    color: white;
}
@media  screen and ( max-width: 1100px){
    .container-body{
        flex-wrap: wrap;
    }
    .colum2{
        margin-top: 40px;        
    }
}

body{
    background: #ffffa;
}



header {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 60%;
    height: 100px;
    width: 100%;
    background:#09050d;
    position: fixed;
    line-height: 15%;
}
.logo img{
    float: left;
    max-width: 100%;
    max-height: 100px;
    height: 100%;
    margin-left: 18%;
}
header .nav li:hover {
    background: #32264a;    
    border-radius: 10px;        
}
.nav li a:hover{
    background: #32264a; 
}

#header .nav >li{
    display: inline-block;
    color: white;
    text-decoration: none;    
    line-height: 30px;
    padding: 5px;
    font-size:18px;
    font-weight: bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;     
}


#header{
    width: 1000px;
    margin: auto;    
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color: #09050d;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 10px;
}  
.nav > li {
    float: left;
}
.nav li ul {
    display: none;
    position: absolute;             
}
.nav li:hover > ul{
    display: block;
}




.contenido{
    padding-top: 100px;
    height: 2600px;
}
.contenido p{
    margin-bottom: 1em;
}

/*el menu se encage cuando tinee dimension de celular*/
@media screen and (max-width: 900px){
    header .logo,
    header nav {
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
    .header2 {
        height: auto;
    }
    .header2 .logo,
    .header2 nav {
        line-height: 50px;
    }
}
/*para el articulo*/
.articulo {
    max-width: 100%;
    background: #4d4563;
    height: 100%;
    margin-top: 0;
}
.titulo {
    float: left;
    padding-left: 20%;
    padding-top: 2%;  
    width: 70%;
    font-size: 200%;
}
.pri-line {
    padding-top: 7%;
    margin-left: 20%;
    font-size: 140%;    
}
.fecha {
    float: left;
    width: 100%;    
    font-size: 150%;
    padding-left: 20%;
    padding-top: 1%;
}
.imagen img{
    width: 60%;
    padding-top: 1%;
    margin-left: 20%;
}
.texto {
    text-align: justify;
    font-family: fantasy;
    padding-top: 4%;
    font-size: 200%;
    margin-left: 20%;
    margin-right: 20%;
}
.fuente {
    width: 41%;
    float: right;
    font-size: 150%;
}
@media screen and (max-width: 1200px){
    #header {
        width: 700px;
    }
    #header .nav >li {
        font-size: 12px;
    }
    #todo{
        max-height: 3150px;
    }
    .titulo{
        font-size: 20px;
    }
}

@media screen and (max-width: 900px){
    #header {
        width: 700px;
    }
    #header .nav >li {
        font-size: 12px;
    }
    #todo{
        max-height: 2270PX;
    }
}

@media screen and (max-width: 867px){
    #header {
        width: 700px;
    }
    #header .nav >li {
        font-size: 12px;
    }    
    #todo{
        max-height: 3200PX;
    }
}




